<section id="dashboard-view" class="mainbar">
	<section>
		<div class="container">
			<div class="row">
				<div class="col-md-2 center">Portrait</div>
				<div class="col-md-4 center">Name</div>
				<div class="col-md-3 center">Location</div>
			</div>
			<div class="row" ng-repeat="turtle in vm.turtles">
				<div class="col-md-2">
					<a ng-click="vm.getTurtle(turtle.id)"><img class="lu-turtle-img img-responsive" src="{{turtle.img}}"></a>
				</div>
				<div class="col-md-4 lu-turtle-">{{turtle.name}}</div>
				<div class="col-md-3">{{turtle.location}}</div>
			</div>
		</div>
		<button class="btn btn-primary" ng-click="vm.getTurtles()" ng-disabled="vm.turtles.length > 1">See all</button>
 	</section>
</section>